.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba($color: #000000, $alpha: 0.35); */
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;

    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.modal_footer{
    padding: 2rem 0;
      padding-bottom: 0;
}

.modal_footer button {
    float: right;
    padding: 0.5rem;

    border-radius: 8px;
}