html,
body {
  margin: 0;
  width: 100%!;
  height: 100%!;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

canvas {
  height: 100%;
  display: block;
}

.grid-item {
  flex-grow: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: 220px auto 210px;
}

.middle.dock {
  height: max(100vh, max-content);
  display: flex;
  flex-direction: column;
  position: relative;
}

.hide {
  visibility: hidden;
}
