.hierarchy.browser {
  margin-top: 20px;
}

.scrollable.hierarchy {
  height: 300px;
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  padding-left: 10px;
  padding-top: 10px;
}

.hierarchy.browser h5 {
  font-weight: bold;
}

#parent label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.hierarchy ul {
  list-style-type: none;
  background-color: rgb(20, 20, 20);
  margin-right: 10%;
  border-radius: 2px;
  padding-left: 30px;
}

.hierarchy.node {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

.hierarchy.node label {
  background-color: rgb(239, 239, 239);
  font: 400 13.3333px Arial;
  border: none;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  padding: 2px 10px 2px 0;
  min-width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type="radio"] {
  margin-top: 0;
}

.hierarchy.children {
  width: 100%;
}

.expand.hierarchy {
  background-color: rgba(239, 239, 239, 0.877);
  align-self: center;
  color: rgb(20, 20, 20);
  width: 15px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  padding: 2px 0 2px 0;
}

.add.button.hierarchy {
  margin-right: 10%;
}
