<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>        
    <add key="pathToLscData" value="C:\lsc2020" />        
    <add key="LscHierarchiesFilePath" value="tags-and-hierarchies\PlanB_No_Metadata\lscHierarchies_No_Metadata.csv" />        
    <add key="LscErrorfilePath" value="ErrorLogFiles\FileLoadError.txt" />        
    <add key="LscTagFilePath" value="tags-and-hierarchies\PlanB_No_Metadata\lscImageTags_No_Metadata.csv" />        
    <add key="resultPath" value="C:\LSCImportExp\210220_Result_Profiling_No_Metadata.csv" />        
    <add key="pathToLaugavegurData" value="C:\LaugavegurData" />        
    <add key="LaugavegurHierarchiesFilePath" value="LaugavegurHierarchiesV2.csv" />        
    <add key="LaugavegurErrorfilePath" value="ErrorLogFiles\FileLoadError.txt" />        
    <add key="LaugavegurTagFilePath" value="LaugavegurImageTags.csv" />
    <add key="connectionStringWithoutDB" value="Server = (localdb)\\mssqllocaldb; Database = ***; Trusted_Connection = True; AttachDbFileName=C:\\Databases\\***.mdf" />
    </appSettings>
</configuration>
