<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>        
    <add key="pathToLscData" value="/Volumes/WINDOWS/lsc2020" />        
    <add key="LscHierarchiesFilePath" value="/Volumes/WINDOWS/lsc2020/tags-and-hierarchies/PlanB_No_Metadata/lscHierarchies_No_Metadata.csv" />        
    <add key="LscErrorfilePath" value="/Volumes/WINDOWS/lsc2020/ErrorLogFiles/FileLoadError.txt" />        
    <add key="LscTagFilePath" value="/Volumes/WINDOWS/lsc2020/tags-and-hierarchies/PlanB_No_Metadata/lscImageTags_No_Metadata.csv" />        
    <add key="resultPath" value="/Volumes/WINDOWS/ImportExp/Result.csv" />        
    <add key="pathToLaugavegurData" value="/Users/alexandrawaldau/LaugavegurData/LaugavegurData" />        
    <add key="LaugavegurHierarchiesFilePath" value="LaugavegurHierarchiesV2.csv" />        
    <add key="LaugavegurErrorfilePath" value="ErrorLogFiles/FileLoadError.txt" />        
    <add key="LaugavegurTagFilePath" value="LaugavegurImageTags.csv" />        
    <add key="connectionStringWithoutDB" value="Server = localhost; Port = 5432; User Id = photocube; Password = postgres;" />    
    </appSettings>
</configuration>
