<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="pathToLscData"        value="/Users/bjth/Desktop/Datasets/LSC2021/LIVE" />
        <add key="LscErrorfilePath"     value="/Users/bjth/Desktop/Datasets/LSC2021/LIVE/FileLoadError.txt" />
        <add key="LscTagFilePath"       value="/Users/bjth/Desktop/Datasets/LSC2021/LIVE/imageTagsOutput.csv" />
        <add key="LscTagsetFilePath"      value="C:\Users\nikol\OneDrive\Documents\Msc Datalogi\Thesis\photocube_data\LSC\LscTagsetFile.csv" />
        <add key="LscJsonHierarchyPath" value="/Users/bjth/Desktop/Datasets/LSC2021/LIVE/hierarchyOutput.json" />
        <add key="resultPath"           value="/Users/bjth/Desktop/Datasets/LSC2021/LIVE/result.csv" />
        <add key="SQLPath"              value="/Users/bjth/Desktop/Datasets/LSC2021/LIVE/SQLInsertQueries.sql" />
        <add key="mssqlFormat"          value="false" />
    </appSettings>
</configuration>