<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="pathToLscData" value="C:\Users\nikol\GitProjects\LSC\intermediateOutput" />
        <add key="LscErrorfilePath" value="C:\Users\nikol\GitProjects\LSC\SQLresult\FileLoadError.txt" />
        <add key="LscTagFilePath" value="C:\Users\nikol\GitProjects\LSC\intermediateOutput\imageTagsOutput.csv" />
        <add key="LscJsonHierarchyPath" value="C:\Users\nikol\GitProjects\LSC\intermediateOutput\hierarchyOutput.json" />
        <add key="resultPath" value="C:\Users\nikol\GitProjects\LSC\SQLresult\result.csv" />
        <add key="SQLPath" value="C:\Users\nikol\GitProjects\LSC\SQLresult\SQLInsertQueries.sql" />
        <add key="mssqlFormat" value="false" />
    </appSettings>
</configuration>