<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="M3_LOADER_PATH"        value="/Users/bjth/Desktop/Datasets/LSC2021/LIVE/" />
        <add key="LscErrorfilePath"     value="FileLoadError.txt" />
        <add key="LscTagFilePath"       value="imageTagsOutput.csv" />
        <add key="LscTagsetFilePath"      value="LscTagsetFile.csv" />
        <add key="LscJsonHierarchyPath" value="hierarchyOutput.json" />
        <add key="resultPath"           value="result.csv" />
        <add key="SQLPath"              value="SQLInsertQueries.sql" />
        <add key="mssqlFormat"          value="false" />
        <add key="appendcommands"          value="false" />
    </appSettings>
</configuration>